body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: blue;
}

header h1 {
    font-family: 'Sixtyfour Convergence';
    color: #fff;
}

header, footer {
    background-color: blue;
    color: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

#menu {
    display: flex;
}

#menu ul {
    display: flex; 
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu li {
    margin-left: 20px; 
}

#menu a {
    color: #fff;
    text-decoration: none; 
}

#menu a:hover {
    text-decoration: underline; 
    color: red;
}

.banner-keyboards {
    padding: 10px;
} 

.banner-keyboards img {
    width: 100%; 
    height: auto;
}

.img-loja {
    max-width: 300px;
    height: auto;     
    margin-right: 20px;
}

.texto-sobre {
    flex: 1; 
}

#sobre-a-loja {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.btn-leia-mais {
    margin-bottom: 10px;
}

.row,
.row h2 {
    margin-left: 30px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
}

.social-icons {
    display: flex; 
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    margin-left: 15px;
}

.col-md-8 img {
    display: flex;
    width: 200px;
    height: 180px;
}


.texto-sobre {
    text-align: center; 
}

.row {
    display: flex;
    flex-wrap: wrap; 
}

.post {
    flex: 1 1 100%; 
    max-width: 100%;
}

@media (min-width: 576px) {
    .post {
        flex: 1 1 48%;
        max-width: 48%;
    }
}

@media (min-width: 768px) {
    .post {
        flex: 1 1 30%; 
        max-width: 30%;
    }
}

